## Operation on Pandas Data Frame

First read the example data file, temps.csv

In [7]:
import pandas as pd
# Read in data and display first 5 rows
df = pd.read_csv('temps.csv')
df.head(5)

,year,month,day,week,temp_2,temp_1,average,actual,forecast_noaa,forecast_acc,forecast_under,friend
0,2016,1,1,Fri,45,45,45.6,45,43,50,44,29
1,2016,1,2,Sat,44,45,45.7,44,41,50,44,61
2,2016,1,3,Sun,45,44,45.8,41,43,46,47,56
3,2016,1,4,Mon,44,41,45.9,40,44,48,46,53
4,2016,1,5,Tues,41,40,46.0,44,46,46,46,41

### Add a new column in the data frame, using 'lambda' function key word in python

Using pandas dataframe's apply function, the value of new column will be based on the calculation of values in the current column in the data frame.

In [12]:
# add a new column called "error_percent"
df['error_percent'] = df.apply(lambda row: (row.actual - row.average )/row.average, axis = 1) 
df.head(6)

,year,month,day,week,temp_2,temp_1,average,actual,forecast_noaa,forecast_acc,forecast_under,friend,error,error_percent
0,2016,1,1,Fri,45,45,45.6,45,43,50,44,29,-0.013158,-0.013158
1,2016,1,2,Sat,44,45,45.7,44,41,50,44,61,-0.037199,-0.037199
2,2016,1,3,Sun,45,44,45.8,41,43,46,47,56,-0.104803,-0.104803
3,2016,1,4,Mon,44,41,45.9,40,44,48,46,53,-0.128540,-0.128540
4,2016,1,5,Tues,41,40,46.0,44,46,46,46,41,-0.043478,-0.043478
5,2016,1,6,Wed,40,44,46.1,51,43,49,48,40,0.106291,0.106291

### Add a new column in the data frame, using a custom function
In this example, we will define a custom function, and then feed it into the dataframe creatation process.

In [14]:
def getPercent(actual, average):
    myPercent = (actual-average)/average
    return myPercent

df['error_percent2'] = df.apply(lambda row: getPercent(row.actual, row.average), axis = 1) 
df.head(6)

,year,month,day,week,temp_2,temp_1,average,actual,forecast_noaa,forecast_acc,forecast_under,friend,error,error_percent,error_percent2
0,2016,1,1,Fri,45,45,45.6,45,43,50,44,29,-0.013158,-0.013158,-0.013158
1,2016,1,2,Sat,44,45,45.7,44,41,50,44,61,-0.037199,-0.037199,-0.037199
2,2016,1,3,Sun,45,44,45.8,41,43,46,47,56,-0.104803,-0.104803,-0.104803
3,2016,1,4,Mon,44,41,45.9,40,44,48,46,53,-0.128540,-0.128540,-0.128540
4,2016,1,5,Tues,41,40,46.0,44,46,46,46,41,-0.043478,-0.043478,-0.043478
5,2016,1,6,Wed,40,44,46.1,51,43,49,48,40,0.106291,0.106291,0.106291